@model IEnumerable<LivroRecomendacao.ViewModels.LivroListViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Seus livros favoritos</h1>
    <hr />
    @foreach (var item in Model)
    {
        <div class="card float-right mb-2">
            <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="@item.LinkFoto" alt="" style="height:350px">
                </div>
                <div class="col-sm-7 p-3">
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h4>
                        <p>@Html.DisplayFor(modelItem => item.NomeAutor)</p>
                        <p>@Html.DisplayFor(modelItem => item.Descrico)</p>
                        <br>
                        <a asp-action="Desfavoritar" asp-route-id="@item.Id" class="btn btn-danger btn-sm float-right">Desfavoritar</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

